
<h1>{{ menuCategory.categoryTitle }}</h1>
{{#if menuCategory.categoryDescription}}
  <p>
    {{ menuCategory.categoryDescription }}
  </p>
{{/if}}
{{!- Entre Section -}}
{{#if menuCategory.entre}}
  {{#each menuCategory.entre}}
    <div class="">
      <span>{{this.dishName}}</span>
      {{#if this.dishDescription}}
        <span>this.dishDescription</span>
      {{/if}}
      <span>${{this.dishPrice}}</span>
    </div>
  {{/each}}
{{/if}}
{{!- Entre Combinations Section -}}
{{#if menuCategory.entreCombinations}}
  {{#each menuCategory.entreCombinations}}
    <div class="">
      <span>{{this.dishName}}</span>
      {{#if this.dishDescription}}
        <span>this.dishDescription</span>
      {{/if}}
      <span>{{this.dishPrice}}</span>
    </div>
  {{/each}}
{{/if}}
{{!- Dishes Section -}}
{{#if menuCategory.dishes}}
  {{#each menuCategory.dishes}}
    <div class="">
      <span>{{this.dishName}}</span>
      {{#if this.dishDescription}}
        <span>this.dishDescription</span>
      {{/if}}
      <span>${{this.dishPrice}}</span>
    </div>
  {{/each}}
{{/if}}
<div class="menu-page-wrapper">
	<div class="menu-nav orange-bg grey-10-color">
		<div class="width-80-center menu-nav-content">
			<a href="/menus/Appetizer">Appetizer</a>  &nbsp;|&nbsp;  <a href="/menus/Teppanyaki">Teppanyaki</a>  &nbsp;|&nbsp;  <a href="/menus/HalalTeppanyaki">Halal Teppanyaki</a>  &nbsp;|&nbsp;  <a href="/menus/Sushi">Sushi</a>  &nbsp;|&nbsp;  <a href="/menus/Bar">Bar</a>  &nbsp;|&nbsp;  <a href="/menus/HappyHour">Happy Hour</a>  &nbsp;|&nbsp;  <a href="/menus/EarlyBird">Early Bird</a>
		</div>
	</div>
</div>
